Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Rates.AddDomesticRates" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Rates.AddDomesticRates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" />
  <xs:complexType name="AddDomesticRatesInitRequestDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AddDomesticRatesInitRequestDto" nillable="true" type="tns:AddDomesticRatesInitRequestDto" />
  <xs:complexType name="AddDomesticRatesInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CitiesList" nillable="true" type="q2:ArrayOfCities" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ClientsList" nillable="true" type="q3:ArrayOfClients" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CountriesList" nillable="true" type="q4:ArrayOfCountries" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ProductTypesList" nillable="true" type="q5:ArrayOfDropdown" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ServiceTypesList" nillable="true" type="q6:ArrayOfDropdown" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDomesticRatesInitResponseDto" nillable="true" type="tns:AddDomesticRatesInitResponseDto" />
  <xs:complexType name="AddDomesticRatesLoadRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddDomesticRatesLoadRequestDto" nillable="true" type="tns:AddDomesticRatesLoadRequestDto" />
  <xs:complexType name="AddDomesticRatesLoadResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q7:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="RatesData" nillable="true" type="q8:ArrayOfAddRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDomesticRatesLoadResponseDto" nillable="true" type="tns:AddDomesticRatesLoadResponseDto" />
  <xs:complexType name="AddDomesticRatesSaveRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q9:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="RatesData" nillable="true" type="q10:ArrayOfAddRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDomesticRatesSaveRequestDto" nillable="true" type="tns:AddDomesticRatesSaveRequestDto" />
  <xs:complexType name="AddDomesticRatesSaveResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q11:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="RatesData" nillable="true" type="q12:ArrayOfAddRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDomesticRatesSaveResponseDto" nillable="true" type="tns:AddDomesticRatesSaveResponseDto" />
  <xs:complexType name="ModifyDomesticRatesRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q13:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="updatedRates" nillable="true" type="q14:AddRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModifyDomesticRatesRequestDto" nillable="true" type="tns:ModifyDomesticRatesRequestDto" />
  <xs:complexType name="ModifyDomesticRatesResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q15:BaseResponseDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModifyDomesticRatesResponseDto" nillable="true" type="tns:ModifyDomesticRatesResponseDto" />
  <xs:complexType name="UploadDomesticRatesSaveRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q16:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="RatesData" nillable="true" type="q17:ArrayOfAddRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UploadDomesticRatesSaveRequestDto" nillable="true" type="tns:UploadDomesticRatesSaveRequestDto" />
  <xs:complexType name="UploadDomesticRatesSaveResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q18:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="RatesData" nillable="true" type="q19:ArrayOfAddRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UploadDomesticRatesSaveResponseDto" nillable="true" type="tns:UploadDomesticRatesSaveResponseDto" />
</xs:schema>