Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Rates.ViewDomesticRates" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Rates.ViewDomesticRates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" />
  <xs:complexType name="ViewDomesticRatesInitRequestDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ViewDomesticRatesInitRequestDto" nillable="true" type="tns:ViewDomesticRatesInitRequestDto" />
  <xs:complexType name="ViewDomesticRatesInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CitiesList" nillable="true" type="q2:ArrayOfCities" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ClientsList" nillable="true" type="q3:ArrayOfClients" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CountriesList" nillable="true" type="q4:ArrayOfCountries" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ProductTypesList" nillable="true" type="q5:ArrayOfDropdown" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ServiceTypesList" nillable="true" type="q6:ArrayOfDropdown" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewDomesticRatesInitResponseDto" nillable="true" type="tns:ViewDomesticRatesInitResponseDto" />
  <xs:complexType name="ViewDomesticRatesSearchRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q7:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="SelectedClient" nillable="true" type="q8:Clients" />
          <xs:element minOccurs="0" name="SelectedDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="SelectedDestinationCity" nillable="true" type="q9:Dropdown" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="SelectedOriginCity" nillable="true" type="q10:Dropdown" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="SelectedProductType" nillable="true" type="q11:Dropdown" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="SelectedServiceType" nillable="true" type="q12:Dropdown" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewDomesticRatesSearchRequestDto" nillable="true" type="tns:ViewDomesticRatesSearchRequestDto" />
  <xs:complexType name="ViewDomesticRatesSearchResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q13:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="RatesData" nillable="true" type="q14:ArrayOfViewRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ViewDomesticRatesSearchResponseDto" nillable="true" type="tns:ViewDomesticRatesSearchResponseDto" />
</xs:schema>