Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Rates.ProcessSales" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Rates.ProcessSales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" />
  <xs:complexType name="ProcessSalesInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessSalesInitRequestDto" nillable="true" type="tns:ProcessSalesInitRequestDto" />
  <xs:complexType name="ProcessSalesInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="BranchList" nillable="true" type="q3:ArrayOfBranches" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ClientsList" nillable="true" type="q4:ArrayOfClients" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="DeliveryTypeList" nillable="true" type="q5:ArrayOfDeliveryTypes" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ProductsList" nillable="true" type="q6:ArrayOfProducts" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessSalesInitResponseDto" nillable="true" type="tns:ProcessSalesInitResponseDto" />
  <xs:complexType name="ProcessSalesRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q7:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ClientIDsToProcess" nillable="true" type="q8:ArrayOfstring" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProcessAllValues" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProcessSalesMode" type="tns:ProcessSalesModes" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProductIdsToProcess" nillable="true" type="q9:ArrayOfint" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessSalesRequestDto" nillable="true" type="tns:ProcessSalesRequestDto" />
  <xs:simpleType name="ProcessSalesModes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Account" />
      <xs:enumeration value="Domestic" />
      <xs:enumeration value="International" />
      <xs:enumeration value="ProductBased" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessSalesModes" nillable="true" type="tns:ProcessSalesModes" />
  <xs:complexType name="ProcessSalesResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q10:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProcessedCount" type="xs:int" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Rates" minOccurs="0" name="UnprocessedAirwayBills" nillable="true" type="q11:ArrayOfManualRatesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessSalesResponseDto" nillable="true" type="tns:ProcessSalesResponseDto" />
</xs:schema>