Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.Model.ShipmentTasks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.ShipmentTasks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShipmentTasksAddressNotificationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipmentTasksAddressNotificationModel" nillable="true" type="tns:ShipmentTasksAddressNotificationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipmentTasksAddressNotificationModel" nillable="true" type="tns:ArrayOfShipmentTasksAddressNotificationModel" />
  <xs:complexType name="ShipmentTasksAddressNotificationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionTaken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirwayBillId" type="xs:long" />
      <xs:element minOccurs="0" name="AttenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipmentUpdateId" type="xs:long" />
      <xs:element minOccurs="0" name="SubActionTaken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipmentTasksAddressNotificationModel" nillable="true" type="tns:ShipmentTasksAddressNotificationModel" />
</xs:schema>