Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.BulkManifest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.BulkManifest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:complexType name="BulkManifestSaveRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsAutoGenerateAiwayBill" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSaveAddress" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="ManifestData" nillable="true" type="q2:ArrayOfBulkManifestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BulkManifestSaveRequestDto" nillable="true" type="tns:BulkManifestSaveRequestDto" />
  <xs:complexType name="BulkManifestSaveResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q3:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="ManifestData" nillable="true" type="q4:ArrayOfBulkManifestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BulkManifestSaveResponseDto" nillable="true" type="tns:BulkManifestSaveResponseDto" />
  <xs:complexType name="BulkManifestLoadBatchRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q5:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchId" type="xs:int" />
          <xs:element minOccurs="0" name="LoadBatchBy" type="tns:LoadBatchType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BulkManifestLoadBatchRequestDto" nillable="true" type="tns:BulkManifestLoadBatchRequestDto" />
  <xs:simpleType name="LoadBatchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SavedShipments" />
      <xs:enumeration value="ManifestedShipments" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoadBatchType" nillable="true" type="tns:LoadBatchType" />
  <xs:complexType name="BulkManifestLoadBatchResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q6:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="ManifestData" nillable="true" type="q7:ArrayOfBulkManifestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BulkManifestLoadBatchResponseDto" nillable="true" type="tns:BulkManifestLoadBatchResponseDto" />
  <xs:complexType name="PrintedAirwayBillSaveRequestDto">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="PrintedAirwayBillList" nillable="true" type="q8:ArrayOfBulkManifestData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintedAirwayBillSaveRequestDto" nillable="true" type="tns:PrintedAirwayBillSaveRequestDto" />
  <xs:complexType name="PrintedAirwayBillSaveResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q9:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="PrintedAirwayBillList" nillable="true" type="q10:ArrayOfBulkManifestData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrintedAirwayBillSaveResponseDto" nillable="true" type="tns:PrintedAirwayBillSaveResponseDto" />
  <xs:complexType name="ManageShipmentsRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q11:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AwbEnding" type="xs:long" />
          <xs:element minOccurs="0" name="AwbStarting" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManageShipmentsRequestDto" nillable="true" type="tns:ManageShipmentsRequestDto" />
  <xs:complexType name="ManageShipmentsResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q12:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ManifestList" nillable="true" type="q13:ArrayOfManageAwbs" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManageShipmentsResponseDto" nillable="true" type="tns:ManageShipmentsResponseDto" />
</xs:schema>