Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportModel.BWShipmentsCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportModel.BWShipmentsCount" nillable="true" type="tns:ReportModel.BWShipmentsCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportModel.BWShipmentsCount" nillable="true" type="tns:ArrayOfReportModel.BWShipmentsCount" />
  <xs:complexType name="ReportModel.BWShipmentsCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchEightCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchFiveCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchFourCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchNineCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchOneCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchSevenCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchSixCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchTenCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchThreeCount" type="xs:long" />
      <xs:element minOccurs="0" name="BranchTwoCount" type="xs:long" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportModel.BWShipmentsCount" nillable="true" type="tns:ReportModel.BWShipmentsCount" />
  <xs:complexType name="ArrayOfReportModel.StatusesCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportModel.StatusesCount" nillable="true" type="tns:ReportModel.StatusesCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportModel.StatusesCount" nillable="true" type="tns:ArrayOfReportModel.StatusesCount" />
  <xs:complexType name="ReportModel.StatusesCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ManualDLDCount" type="xs:int" />
      <xs:element minOccurs="0" name="ManualOtherCount" type="xs:int" />
      <xs:element minOccurs="0" name="ManualPDcount" type="xs:int" />
      <xs:element minOccurs="0" name="PDADLDCount" type="xs:int" />
      <xs:element minOccurs="0" name="PDAOtherCount" type="xs:int" />
      <xs:element minOccurs="0" name="PDAPDCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportModel.StatusesCount" nillable="true" type="tns:ReportModel.StatusesCount" />
</xs:schema>