Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Complaints" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Complaints" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:complexType name="ComplaintsInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsInitRequestDto" nillable="true" type="tns:ComplaintsInitRequestDto" />
  <xs:complexType name="ComplaintsInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="BranchesList" nillable="true" type="q3:ArrayOfBranches" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ClientsList" nillable="true" type="q4:ArrayOfClients" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintCategoriesList" nillable="true" type="q5:ArrayOfComplaintCategories" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintStatusesList" nillable="true" type="q6:ArrayOfComplaintStatuses" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintSubCategoriesList" nillable="true" type="q7:ArrayOfComplaintSubCategories" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CouriersList" nillable="true" type="q8:ArrayOfCouriers" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsInitResponseDto" nillable="true" type="tns:ComplaintsInitResponseDto" />
  <xs:complexType name="ComplaintsCreateComplaintRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q9:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerContactNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintCategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="ComplaintDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSeverity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSubCategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="CourierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentStatus" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsCreateComplaintRequestDto" nillable="true" type="tns:ComplaintsCreateComplaintRequestDto" />
  <xs:complexType name="ComplaintsCreateComplaintResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q10:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComplaintNumber" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsCreateComplaintResponseDto" nillable="true" type="tns:ComplaintsCreateComplaintResponseDto" />
  <xs:complexType name="ComplaintsSearchComplaintRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q11:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComplaintNumber" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsSearchComplaintRequestDto" nillable="true" type="tns:ComplaintsSearchComplaintRequestDto" />
  <xs:complexType name="ComplaintsSearchComplaintResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q12:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerContactNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintCategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ComplaintCategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSeverity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSubCategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ComplaintSubCategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CurrentStatusName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsSearchComplaintResponseDto" nillable="true" type="tns:ComplaintsSearchComplaintResponseDto" />
  <xs:complexType name="ComplaintsModifyComplaintRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q13:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerContactNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintCategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ComplaintDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintNumber" type="xs:long" />
          <xs:element minOccurs="0" name="ComplaintSeverity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSubCategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CourierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsModifyComplaintRequestDto" nillable="true" type="tns:ComplaintsModifyComplaintRequestDto" />
  <xs:complexType name="ComplaintsModifyComplaintResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q14:BaseResponseDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsModifyComplaintResponseDto" nillable="true" type="tns:ComplaintsModifyComplaintResponseDto" />
  <xs:complexType name="ComplaintsTrackComplaintRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q15:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComplaintNumber" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsTrackComplaintRequestDto" nillable="true" type="tns:ComplaintsTrackComplaintRequestDto" />
  <xs:complexType name="ComplaintsTrackComplaintResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q16:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerContactNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintNumber" type="xs:long" />
          <xs:element minOccurs="0" name="ComplaintSeverity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSubCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintSubCategoryDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Courier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="xs:string" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="StatusUpdateHistory" nillable="true" type="q17:ArrayOfComplaintStatusHistroy" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsTrackComplaintResponseDto" nillable="true" type="tns:ComplaintsTrackComplaintResponseDto" />
  <xs:complexType name="ComplaintsTrackComplaintByCallerNumberRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q18:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="CallerContactNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsTrackComplaintByCallerNumberRequestDto" nillable="true" type="tns:ComplaintsTrackComplaintByCallerNumberRequestDto" />
  <xs:complexType name="ComplaintsTrackComplaintByCallerNumberResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q19:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintsByNumber" nillable="true" type="q20:ArrayOfComplaintsByNumber" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsTrackComplaintByCallerNumberResponseDto" nillable="true" type="tns:ComplaintsTrackComplaintByCallerNumberResponseDto" />
  <xs:complexType name="ComplaintsTrackComplaintByAWBRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q21:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillNo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsTrackComplaintByAWBRequestDto" nillable="true" type="tns:ComplaintsTrackComplaintByAWBRequestDto" />
  <xs:complexType name="ComplaintsTrackComplaintByAWBResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q22:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintsByAwb" nillable="true" type="q23:ArrayOfComplaintsByNumber" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsTrackComplaintByAWBResponseDto" nillable="true" type="tns:ComplaintsTrackComplaintByAWBResponseDto" />
  <xs:complexType name="ComplaintsResponseComplaintRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q24:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComplaintId" type="xs:long" />
          <xs:element minOccurs="0" name="ComplaintStatus" type="xs:int" />
          <xs:element minOccurs="0" name="ResponseDescription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsResponseComplaintRequestDto" nillable="true" type="tns:ComplaintsResponseComplaintRequestDto" />
  <xs:complexType name="ComplaintsResponseComplaintResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q25:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintResponses" nillable="true" type="q26:ArrayOfComplaintResponses" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsResponseComplaintResponseDto" nillable="true" type="tns:ComplaintsResponseComplaintResponseDto" />
  <xs:complexType name="ComplaintsResponseComplaintInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q27:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsResponseComplaintInitRequestDto" nillable="true" type="tns:ComplaintsResponseComplaintInitRequestDto" />
  <xs:complexType name="ComplaintsResponseComplaintInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q28:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintStatuses" nillable="true" type="q29:ArrayOfComplaintStatuses" />
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="Complaints" nillable="true" type="q30:ArrayOfComplaints" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsResponseComplaintInitResponseDto" nillable="true" type="tns:ComplaintsResponseComplaintInitResponseDto" />
  <xs:complexType name="ComplaintsGetResponsesRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q31:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComplaintId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsGetResponsesRequestDto" nillable="true" type="tns:ComplaintsGetResponsesRequestDto" />
  <xs:complexType name="ComplaintsGetResponsesResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q32:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ComplaintResponses" nillable="true" type="q33:ArrayOfComplaintResponses" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplaintsGetResponsesResponseDto" nillable="true" type="tns:ComplaintsGetResponsesResponseDto" />
</xs:schema>