Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Business.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Business.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebTracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirwayBillNumber" type="xs:long" />
      <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confidential" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsigneeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStatusAppliedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliverySheetId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescOfShipment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentHeading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentRefNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodOfPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pieces" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusHistory" nillable="true" type="tns:ArrayOfStatusHistoryWebTracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTracking" nillable="true" type="tns:WebTracking" />
  <xs:complexType name="ArrayOfStatusHistoryWebTracking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusHistoryWebTracking" nillable="true" type="tns:StatusHistoryWebTracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusHistoryWebTracking" nillable="true" type="tns:ArrayOfStatusHistoryWebTracking" />
  <xs:complexType name="StatusHistoryWebTracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecievedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusHistoryWebTracking" nillable="true" type="tns:StatusHistoryWebTracking" />
</xs:schema>