Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Tracking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Tracking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:complexType name="TrackbyAirwaybillModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirwayBillNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confidential" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsigneeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliverySheetId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescOfShipment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentHeading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentRefNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodOfPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pieces" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="StatusHistory" nillable="true" type="q1:ArrayOfStatusHistory" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZCodeAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackbyAirwaybillModel" nillable="true" type="tns:TrackbyAirwaybillModel" />
  <xs:complexType name="ArrayOfTrackbyAirwaybillModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackbyAirwaybillModel" nillable="true" type="tns:TrackbyAirwaybillModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackbyAirwaybillModel" nillable="true" type="tns:ArrayOfTrackbyAirwaybillModel" />
</xs:schema>