Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.ManifestRegister" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.ManifestRegister" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:complexType name="ManifestRegisterInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManifestRegisterInitRequestDto" nillable="true" type="tns:ManifestRegisterInitRequestDto" />
  <xs:complexType name="ManifestRegisterInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="Branches" nillable="true" type="q3:ArrayOfBranches" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="Clients" nillable="true" type="q4:ArrayOfClients" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="Couriers" nillable="true" type="q5:ArrayOfCouriers" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManifestRegisterInitResponseDto" nillable="true" type="tns:ManifestRegisterInitResponseDto" />
  <xs:complexType name="GetShipmentsByParametersRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q6:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourierId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SearchCriteria" type="tns:SeacrhCriterion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetShipmentsByParametersRequestDto" nillable="true" type="tns:GetShipmentsByParametersRequestDto" />
  <xs:simpleType name="SeacrhCriterion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Client" />
      <xs:enumeration value="Courier" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeacrhCriterion" nillable="true" type="tns:SeacrhCriterion" />
  <xs:complexType name="GetShipmentsByParametersResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q7:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="SearchCriteria" type="tns:SeacrhCriterion" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ShipmentsList" nillable="true" type="q8:ArrayOfShipmentData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetShipmentsByParametersResponseDto" nillable="true" type="tns:GetShipmentsByParametersResponseDto" />
</xs:schema>