Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service37.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Account" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:complexType name="GetAccountRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountRequestDto" nillable="true" type="tns:GetAccountRequestDto" />
  <xs:complexType name="GetAccountResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountResponseDto" nillable="true" type="tns:GetAccountResponseDto" />
  <xs:complexType name="GetAllAccountsRequestDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAllAccountsRequestDto" nillable="true" type="tns:GetAllAccountsRequestDto" />
  <xs:complexType name="GetAllAccountsResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="UsersList" nillable="true" type="q3:ArrayOfAccounts" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllAccountsResponseDto" nillable="true" type="tns:GetAllAccountsResponseDto" />
</xs:schema>