Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Framework" />
  <xs:complexType name="AirwayBillStatusDetails">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.Framework" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillCurrentStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AirwayBillID" type="xs:long" />
          <xs:element minOccurs="0" name="AirwayBillNewStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AllocatedCourier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConsigneeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentStatusAppliedBy" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CurrentStatusAppliedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CurrentStatusRemarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentRefID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManifestedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NOD" type="xs:double" />
          <xs:element minOccurs="0" name="NewStatusAppliedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NewStatusReceivedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewStatusRemarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProofofDelivery" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ShipperName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SrNo" type="xs:int" />
          <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AirwayBillStatusDetails" nillable="true" type="tns:AirwayBillStatusDetails" />
  <xs:complexType name="ArrayOfAirwayBillStatusDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirwayBillStatusDetails" nillable="true" type="tns:AirwayBillStatusDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirwayBillStatusDetails" nillable="true" type="tns:ArrayOfAirwayBillStatusDetails" />
</xs:schema>