Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.WebNotifications" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.WebNotifications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:complexType name="AddNewNotificationRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirwayBillID" type="xs:long" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNewNotificationRequestDto" nillable="true" type="tns:AddNewNotificationRequestDto" />
  <xs:complexType name="AddNewNotificationResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="NotificationID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddNewNotificationResponseDto" nillable="true" type="tns:AddNewNotificationResponseDto" />
  <xs:complexType name="GetAllNotificationsRequestDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAllNotificationsRequestDto" nillable="true" type="tns:GetAllNotificationsRequestDto" />
  <xs:complexType name="GetAllNotificationsResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="Notifications" nillable="true" type="q3:ArrayOfWebNotifications" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllNotificationsResponseDto" nillable="true" type="tns:GetAllNotificationsResponseDto" />
  <xs:complexType name="GetNotificationsByClientIDRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetNotificationsByClientIDRequestDto" nillable="true" type="tns:GetNotificationsByClientIDRequestDto" />
  <xs:complexType name="GetNotificationsByClientIDResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q4:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="Notifications" nillable="true" type="q5:ArrayOfWebNotifications" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNotificationsByClientIDResponseDto" nillable="true" type="tns:GetNotificationsByClientIDResponseDto" />
</xs:schema>