Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ZGeo.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZGeo.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AddressBookResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" type="xs:long" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourierUserId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="GeoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longtitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Neighbourhood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZCodeFullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressBookResponseDto" nillable="true" type="tns:AddressBookResponseDto" />
</xs:schema>