Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.QuickManifest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.QuickManifest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" />
  <xs:complexType name="QuickManifestInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickManifestInitRequestDto" nillable="true" type="tns:QuickManifestInitRequestDto" />
  <xs:complexType name="QuickManifestInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="BranchesList" nillable="true" type="q3:ArrayOfBranches" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CitiesList" nillable="true" type="q4:ArrayOfCities" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ClientsList" nillable="true" type="q5:ArrayOfClients" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="CountryList" nillable="true" type="q6:ArrayOfCountries" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="DeliveryTypeList" nillable="true" type="q7:ArrayOfDropdown" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ProductTypeList" nillable="true" type="q8:ArrayOfProducts" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="ServiceTypeList" nillable="true" type="q9:ArrayOfDropdown" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickManifestInitResponseDto" nillable="true" type="tns:QuickManifestInitResponseDto" />
  <xs:complexType name="QuickManifestSaveRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q10:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="Manifest" nillable="true" type="q11:ArrayOfManifestModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickManifestSaveRequestDto" nillable="true" type="tns:QuickManifestSaveRequestDto" />
  <xs:complexType name="QuickManifestSaveResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q12:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchId" type="xs:long" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Manifest" minOccurs="0" name="Manifest" nillable="true" type="q13:ArrayOfManifestModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickManifestSaveResponseDto" nillable="true" type="tns:QuickManifestSaveResponseDto" />
</xs:schema>