Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Business.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Business.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerAddressUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirwayBillId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AirwayBillStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsigneeContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsCustomerUpdatedAddress" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSMSSend" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PINNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerAddressUpdate" nillable="true" type="tns:CustomerAddressUpdate" />
</xs:schema>