Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.EmailSubscription" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.EmailSubscription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EmailSubscriptionInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionInitRequestDto" nillable="true" type="tns:EmailSubscriptionInitRequestDto" />
  <xs:complexType name="EmailSubscriptionInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="StatusCodes" nillable="true" type="q3:ArrayOfStatuses" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="UserList" nillable="true" type="q4:ArrayOfUsers" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionInitResponseDto" nillable="true" type="tns:EmailSubscriptionInitResponseDto" />
  <xs:complexType name="EmailSubscriptionManageSubscriptionRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q5:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="SendComplaintEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="SendShipmentEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="SendStatusUpdateEmail" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionManageSubscriptionRequestDto" nillable="true" type="tns:EmailSubscriptionManageSubscriptionRequestDto" />
  <xs:complexType name="EmailSubscriptionManageSubscriptionResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q6:BaseResponseDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionManageSubscriptionResponseDto" nillable="true" type="tns:EmailSubscriptionManageSubscriptionResponseDto" />
  <xs:complexType name="EmailSubscriptionAddStatusRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q7:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailUserId" type="ser:guid" />
          <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionAddStatusRequestDto" nillable="true" type="tns:EmailSubscriptionAddStatusRequestDto" />
  <xs:complexType name="EmailSubscriptionAddStatusResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q8:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="SubscripedStatusCodes" nillable="true" type="q9:ArrayOfStatuses" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="UnsubscripedStatusCodes" nillable="true" type="q10:ArrayOfStatuses" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionAddStatusResponseDto" nillable="true" type="tns:EmailSubscriptionAddStatusResponseDto" />
  <xs:complexType name="EmailSubscriptionStatusCodesListRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q11:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailUserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionStatusCodesListRequestDto" nillable="true" type="tns:EmailSubscriptionStatusCodesListRequestDto" />
  <xs:complexType name="EmailSubscriptionStatusCodesListResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q12:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="StatusCodes" nillable="true" type="q13:ArrayOfStatuses" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionStatusCodesListResponseDto" nillable="true" type="tns:EmailSubscriptionStatusCodesListResponseDto" />
  <xs:complexType name="EmailSubscriptionGetSubscriptionsRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q14:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailUserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionGetSubscriptionsRequestDto" nillable="true" type="tns:EmailSubscriptionGetSubscriptionsRequestDto" />
  <xs:complexType name="EmailSubscriptionGetSubscriptionsResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q15:BaseResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="SendComplaintEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="SendShipmentEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="SendStatusUpdateEmail" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubscriptionGetSubscriptionsResponseDto" nillable="true" type="tns:EmailSubscriptionGetSubscriptionsResponseDto" />
</xs:schema>