Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BaseRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequestDto" nillable="true" type="tns:BaseRequestDto" />
  <xs:complexType name="BaseResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="tns:WSResult" />
      <xs:element minOccurs="0" name="ResultDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseDto" nillable="true" type="tns:BaseResponseDto" />
  <xs:simpleType name="WSResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="RequestFailure" />
      <xs:enumeration value="NoRecordFound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WSResult" nillable="true" type="tns:WSResult" />
</xs:schema>