Emaratech.Services.Zajel.DataAccess/Service References/ZajelServiceExternal/Z360Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.StatusUpdate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs.StatusUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" />
  <xs:import schemaLocation="http://94.56.40.10:7778/Z360Service.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" />
  <xs:complexType name="StatusUpdateInitRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q1:BaseRequestDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusUpdateInitRequestDto" nillable="true" type="tns:StatusUpdateInitRequestDto" />
  <xs:complexType name="StatusUpdateInitResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q2:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="AirwayBillStatusList" nillable="true" type="q3:ArrayOfStatuses" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Z360.Common.Model.Generic" minOccurs="0" name="StatusBusinessRulesList" nillable="true" type="q4:ArrayOfStatusesBusinessRuleCust" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusUpdateInitResponseDto" nillable="true" type="tns:StatusUpdateInitResponseDto" />
  <xs:complexType name="AirwayBillStatusDetailsRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q5:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AirwayBillID" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AirwayBillStatusDetailsRequestDto" nillable="true" type="tns:AirwayBillStatusDetailsRequestDto" />
  <xs:complexType name="AirwayBillStatusDetailsResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q6:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" minOccurs="0" name="AirwayBillInfo" nillable="true" type="q7:AirwayBillStatusDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AirwayBillStatusDetailsResponseDto" nillable="true" type="tns:AirwayBillStatusDetailsResponseDto" />
  <xs:complexType name="AirwayBillStatusUpdateSaveRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q8:BaseRequestDto">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" minOccurs="0" name="AirwayBillList" nillable="true" type="q9:ArrayOfAirwayBillStatusDetails" />
          <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="Longtitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="SaveLocation" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AirwayBillStatusUpdateSaveRequestDto" nillable="true" type="tns:AirwayBillStatusUpdateSaveRequestDto" />
  <xs:complexType name="AirwayBillStatusUpdateSaveResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q10:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" minOccurs="0" name="NotSavedAirwayBillList" nillable="true" type="q11:ArrayOfAirwayBillStatusDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AirwayBillStatusUpdateSaveResponseDto" nillable="true" type="tns:AirwayBillStatusUpdateSaveResponseDto" />
  <xs:complexType name="StatusUpdateSearchDeliverySheetRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q12:BaseRequestDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliverySheetId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusUpdateSearchDeliverySheetRequestDto" nillable="true" type="tns:StatusUpdateSearchDeliverySheetRequestDto" />
  <xs:complexType name="StatusUpdateSearchDeliverySheetResponseDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Z360.Common.DTOs" base="q13:BaseResponseDto">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Z360.Common.Model.StatusUpdate" minOccurs="0" name="DeliverySheetRecords" nillable="true" type="q14:ArrayOfAirwayBillStatusDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatusUpdateSearchDeliverySheetResponseDto" nillable="true" type="tns:StatusUpdateSearchDeliverySheetResponseDto" />
</xs:schema>